@font-face {
  font-family: 'GothamPro-Bold';
  src: url('GothamPro-Bold.eot');
  src: url('GothamPro-Bold.woff') format('woff'),
       url('GothamPro-Bold.ttf') format('truetype'),
       url('GothamPro-Bold.svg#GothamPro-Bold') format('svg'),
       url('GothamPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

