@charset "UTF-8";
@font-face {
  font-family: "DIN Round Pro - Bold";
  src: url("../fonts/DIN Round Pro - Bold/DIN Round Pro - Bold.eot");
  src: local("☺"), url("../fonts/DIN Round Pro - Bold/DIN Round Pro - Bold.woff") format("woff"),
  url("../fonts/DIN Round Pro - Bold/DIN Round Pro - Bold.ttf") format("truetype"),
  url("../fonts/DIN Round Pro - Bold/DIN Round Pro - Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Round Pro - Medium";
  src: url("../fonts/DIN Round Pro - Medium/DIN Round Pro - Medium.eot");
  src: local("☺"), url("../fonts/DIN Round Pro - Medium/DIN Round Pro - Medium.woff") format("woff"),
  url("../fonts/DIN Round Pro - Medium/DIN Round Pro - Medium.ttf") format("truetype"), 
  url("../fonts/DIN Round Pro - Medium/DIN Round Pro - Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Round Pro - Light";
  src: url("../fonts/DIN Round Pro - Light/DIN Round Pro - Light.eot");
  src: local("☺"), url("../fonts/DIN Round Pro - Light/DIN Round Pro - Light.woff") format("woff"),
  url("../fonts/DIN Round Pro - Light/DIN Round Pro - Light.ttf") format("truetype"),
  url("../fonts/DIN Round Pro - Light/DIN Round Pro - Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Round Pro - Regular";
  src: url("../fonts/DIN Round Pro - Regular/DIN Round Pro - Regular.eot");
  src: local("☺"), url("../fonts/DIN Round Pro - Regular/DIN Round Pro - Regular.woff") format("woff"),
  url("../fonts/DIN Round Pro - Regular/DIN Round Pro - Regular.ttf") format("truetype"),
  url("../fonts/DIN Round Pro - Regular/DIN Round Pro - Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton-Regular";
  src: url("../fonts/Panton-Regular/Panton-Regular.eot");
  src: local("☺"), url("../fonts/Panton-Regular/Panton-Regular.woff") format("woff"),
  url("../fonts/Panton-Regular/Panton-Regular.ttf") format("truetype"), 
  url("../fonts/Panton-Regular/Panton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}