@charset "UTF-8";
@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-100-Italic";
  src: url("../fonts/MuseoSansCyrl-100-Italic/MuseoSansCyrl-100-Italic.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-100-Italic/MuseoSansCyrl-100-Italic.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-100-Italic/MuseoSansCyrl-100-Italic.ttf") format("truetype"), 
  url("../fonts/MuseoSansCyrl-100-Italic/MuseoSansCyrl-100-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-300-Italic";
  src: url("../fonts/MuseoSansCyrl-300-Italic/MuseoSansCyrl-300-Italic.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-300-Italic/MuseoSansCyrl-300-Italic.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-300-Italic/MuseoSansCyrl-300-Italic.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-300-Italic/MuseoSansCyrl-300-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500-Italic";
  src: url("../fonts/MuseoSansCyrl-500-Italic/MuseoSansCyrl-500-Italic.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-500-Italic/MuseoSansCyrl-500-Italic.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-500-Italic/MuseoSansCyrl-500-Italic.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-500-Italic/MuseoSansCyrl-500-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700-Italic";
  src: url("../fonts/MuseoSansCyrl-700-Italic/MuseoSansCyrl-700-Italic.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-700-Italic/MuseoSansCyrl-700-Italic.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-700-Italic/MuseoSansCyrl-700-Italic.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-700-Italic/MuseoSansCyrl-700-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-900-Italic";
  src: url("../fonts/MuseoSansCyrl-900-Italic/MuseoSansCyrl-900-Italic.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-900-Italic/MuseoSansCyrl-900-Italic.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-900-Italic/MuseoSansCyrl-900-Italic.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl-900-Italic/MuseoSansCyrl-900-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}