@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"),
  url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype"), 
  url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"),
  url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"),
  url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.ttf") format("truetype"),
  url("../fonts/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.ttf") format("truetype"),
  url("../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin/Roboto-Thin.eot");
  src: local("☺"), url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"),
  url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype"),
  url("../fonts/Roboto-Thin/Roboto-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}